#temp:before,
.minAndMax:before {
  @include hoverStyle(105%, 0, wrap);
}

#temp:hover:before {
  opacity: 1;
  visibility: visible;
}

.minAndMax:before {
  @include hoverStyle(105%, 0, wrap);
}
.minAndMax:hover:before {
  opacity: 1;
  visibility: visible;
}

.rightCopmas:hover:before {
  opacity: 1;
  visibility: visible;
}

.rightCopmas:before {
  @include hoverStyle(102%, 50%, wrap);
  width: 312px;
}
.leftCompas:hover:before {
  opacity: 1;
  visibility: visible;
}

.leftCompas:before {
  @include hoverStyle(102%, 0%, wrap);
  width: 312px;
}
.firstWeather:before {
  @include smallCover;
}

.firstWeather:hover:before {
  opacity: 1;
  visibility: visible;
}

.secWeather:before {
  @include smallCover;
}

.secWeather:hover:before {
  opacity: 1;
  visibility: visible;
}

.thereWeatherThree:before {
  @include smallCover;
}

.thereWeatherThree:hover:before {
  opacity: 1;
  visibility: visible;
}

.foutWeatherFour:before {
  @include smallCover;
}

.foutWeatherFour:hover:before {
  opacity: 1;
  visibility: visible;
}

.weatherNow:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 50%;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 25%;
  top: -6%;
}

.weatherNow:hover:before {
  opacity: 1;
  visibility: visible;
}
