#temp:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 312px;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}

#temp:hover:before {
  opacity: 1;
  visibility: visible;
}

.minAndMax:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 312px;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}
.minAndMax:hover:before {
  opacity: 1;
  visibility: visible;
}

.compas:hover:before {
  opacity: 1;
  visibility: visible;
}

.compas:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 312px;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 105%;
  text-wrap: wrap;
}

.firstWeather:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.firstWeather:hover:before {
  opacity: 1;
  visibility: visible;
}

.secWeather:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.secWeather:hover:before {
  opacity: 1;
  visibility: visible;
}

.thereWeatherThree:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.thereWeatherThree:hover:before {
  opacity: 1;
  visibility: visible;
}

.foutWeatherFour:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.foutWeatherFour:hover:before {
  opacity: 1;
  visibility: visible;
}

.weatherNow:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 50%;
  background-color: $blackHover;
  color: #fff;
  text-align: center;
  border-radius: $borderRadiusSmall;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 25%;
  top: -6%;
}

.weatherNow:hover:before {
  opacity: 1;
  visibility: visible;
}
