main {
  @include flexCenter(column);
  background-color: $backgroundColor;
  padding: 30px;
  border-radius: $borderRadiusMedium;
  gap: 20px;
  border: 2px solid $colorOne;
  position: relative;
  h1 {
    font-size: 1.3rem;
  }
  .findCity {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #cityInp {
      @include buttonAndInput($colorOne);
      &:hover {
        background-color: $backgroundColorHover;
      }
      &:focus {
        outline: none;
        border-color: $colorTwo;
      }
    }
    #getLocation {
      @include buttonAndInput($colorOne);
      background-color: $colorTwo;
      &:hover {
        background-color: $colorTwoDarker;
      }
    }
    #or {
      position: relative;
      width: min-content;
      &:before {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        background-color: $colorOne;
        top: 50%;
        left: 120%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 80px;
        height: 2px;
        background-color: $colorOne;
        top: 50%;
        right: 120%;
      }
    }
  }

  .wraper {
    display: none;
    gap: 10px;

    .back {
      position: absolute;
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: red;
      top: 11px;
      right: 13px;
      &:hover {
        background-color: rgb(209, 0, 0);
      }
    }
    #temp {
      #temperatureDiv {
        width: 110px;
        .temperatureSpan {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .compas {
      gap: 5px;
      .compasCircle {
        position: relative;
        width: 40px;
        aspect-ratio: 1;
        background-color: $backgroundColorHover;
        border: 1px solid black;
        border-radius: 50%;
        .arrow {
          position: absolute;
          width: 2px;
          height: 15px;
          background-color: black;
          transform-origin: bottom;
          top: 10%;
          left: 50%;
        }
      }
    }
  }
}
.between {
  display: flex;
  align-items: center;
}
.wraper.active {
  display: flex;
}
.findCity.active {
  display: flex;
}
