main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 30px;
  background-color: #000000;
  color: #000000;
  border-radius: 20px;
  border: 2px solid #d3a6fa;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.3s forwards;
}
main h1 {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 10px;
}
main .findCity {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .findCity #cityInp {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #d3a6fa;
  text-align: center;
  min-width: 200px;
  transition: all 0.255s;
}
main .findCity #cityInp:hover {
  background-color: #d3d3d3;
}
main .findCity #cityInp:focus {
  outline: none;
  border-color: #e9fe53;
}
main .findCity #getLocation {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #d3a6fa;
  text-align: center;
  min-width: 200px;
  transition: all 0.255s;
  background-color: #e9fe53;
}
main .findCity #getLocation:hover {
  background-color: #dbf051;
}
main .findCity #or {
  position: relative;
  color: #d3a6fa;
}
main .findCity #or:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #d3a6fa;
  top: 50%;
  left: 120%;
}
main .findCity #or::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #d3a6fa;
  top: 50%;
  right: 120%;
}
main .wraper {
  display: none;
  position: relative;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
main .wraper .back {
  margin-left: auto;
  grid-area: 1/2/2/3;
}
main .wraper .back #goBack {
  background-color: #fff;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  transition: all 0.3s;
}
main .wraper .back #goBack:hover {
  background-color: #c5c5c5;
}
main .wraper .back #info {
  background-color: #181816;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  transition: all 0.3s;
}
main .wraper .back #info:hover {
  background-color: #252523;
}
main .wraper .welcome {
  grid-area: 1/1/2/2;
}
main .wraper .welcome #welcomeTitle {
  color: #fff;
  font-size: 25px;
}
main .wraper #temp {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  height: -moz-min-content;
  height: min-content;
  background-color: #d3a6fa;
  color: #000000;
  z-index: 20;
  transition: all 0.3s;
  text-wrap: nowrap;
}
main .wraper #temp:hover {
  background-color: #ce9df8;
}
main .wraper #temp #temperatureDiv .temperatureSpan {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}
main .wraper #temp #temperatureDiv .temperatureSpan .mainTemp {
  width: 100%;
  gap: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill {
  position: relative;
  width: 110px;
  aspect-ratio: 1;
  transform: translateY(4px);
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animacja 2s forwards;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18.5%, -19%) scale(0.67);
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill .outer {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill .outer .inner {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill .outer .inner #tempNumb {
  font-size: 20px;
}
main .wraper .minAndMax {
  display: flex;
  position: relative;
  height: -moz-min-content;
  height: min-content;
  text-wrap: nowrap;
  z-index: 20;
  background-color: #181816;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.3s;
}
main .wraper .minAndMax:hover {
  background-color: #131311;
}
main .wraper .minAndMax .minMaxLeftRight {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}
main .wraper .minAndMax .minMaxLeftRight .skill {
  position: relative;
  width: 110px;
  aspect-ratio: 1;
  transform: translateY(4px);
}
main .wraper .minAndMax .minMaxLeftRight .skill circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: minMaxDiagram 2s forwards;
}
main .wraper .minAndMax .minMaxLeftRight .skill svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18.5%, -19%) scale(0.67);
}
main .wraper .minAndMax .minMaxLeftRight .skill .outer {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .wraper .minAndMax .minMaxLeftRight .skill .outer .inner {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper .minAndMax .minMaxLeftRight .skill .outer .inner #tempNumb {
  font-size: 20px;
}
main .wraper .minAndMax .minMaxLeftRight .leftMinMax {
  width: 100%;
  gap: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper .minAndMax .minMaxLeftRight .leftMinMax .minMaxSpan {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main .wraper .compas {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  grid-area: 3/1/4/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  gap: 5px;
  z-index: 1;
  background-color: #181816;
  color: #fff;
  transition: all 0.3s;
}
main .wraper .compas:hover {
  background-color: #131311;
}
main .wraper .compas .leftCompas {
  z-index: 10;
}
main .wraper .compas .rightCopmas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 23px;
  z-index: 10;
}
main .wraper .compas .compasCircle {
  position: relative;
  width: 100px;
  aspect-ratio: 1;
  background: #fff;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 8px;
}
main .wraper .compas .compasCircle .arrow {
  position: absolute;
  width: 2px;
  height: 40%;
  background-color: black;
  transform-origin: bottom;
  top: 10%;
  left: 50%;
  animation: 2s compasDeg forwards;
}
main .wraper .forecast {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  grid-area: 1/3/4/4;
  background-color: #e9fe53;
  color: #000000;
  transition: all 0.3s;
}
main .wraper .forecast .weatherNow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}
main .wraper .forecast .weatherNow #weatherImg {
  width: 100px;
}
main .wraper .forecast .futureWeather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60%;
}
main .wraper .forecast .futureWeather p {
  font-size: 14px;
  margin: 0 auto;
}

.between {
  display: flex;
  align-items: center;
}

.wraper.active {
  display: grid;
}

.findCity.active {
  display: flex;
}

#weatherImg {
  width: 64px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dbf051;
  border-radius: 10px;
  width: 114px;
  aspect-ratio: 1;
  display: grid;
  justify-self: center;
  position: relative;
}

#weatherDesciptionOne,
#weatherDesciptionTwo,
#weatherDesciptionThree,
#weatherDesciptionFour {
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 6px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

#temp:before,
.minAndMax:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}

#temp:hover:before {
  opacity: 1;
  visibility: visible;
}

.minAndMax:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}

.minAndMax:hover:before {
  opacity: 1;
  visibility: visible;
}

.rightCopmas:hover:before {
  opacity: 1;
  visibility: visible;
}

.rightCopmas:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 102%;
  text-wrap: wrap;
  width: 312px;
}

.leftCompas:hover:before {
  opacity: 1;
  visibility: visible;
}

.leftCompas:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 102%;
  text-wrap: wrap;
  width: 312px;
}

.firstWeather:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.firstWeather:hover:before {
  opacity: 1;
  visibility: visible;
}

.secWeather:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.secWeather:hover:before {
  opacity: 1;
  visibility: visible;
}

.thereWeatherThree:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.thereWeatherThree:hover:before {
  opacity: 1;
  visibility: visible;
}

.foutWeatherFour:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 100%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
}

.foutWeatherFour:hover:before {
  opacity: 1;
  visibility: visible;
}

.weatherNow:before {
  content: attr(date-hover);
  visibility: hidden;
  opacity: 0;
  width: 50%;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 25%;
  top: -6%;
}

.weatherNow:hover:before {
  opacity: 1;
  visibility: visible;
}

.infowrap {
  display: none;
  color: #fff;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  width: 80vw;
  height: 70vh;
}

.infowrap.active {
  display: grid;
}

.describeDiv {
  grid-area: 1/1/2/3;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
}
.describeDiv #MoreInfoTitle {
  font-size: 25px;
}

.goBackDiv {
  grid-area: 1/3/2/4;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  margin-left: auto;
}
.goBackDiv #goBackInfo {
  background-color: #fff;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  padding: 8px 16px;
  overflow: hidden;
  transition: all 0.3s;
}
.goBackDiv #goBackInfo:hover {
  background-color: #c5c5c5;
}

.allText {
  grid-area: 1/4/4/6;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #d3a6fa;
  color: #000000;
  font-size: 17px;
  line-height: 1.6;
}
.allText ::-webkit-scrollbar {
  width: 15px;
  background-color: rebeccapurple;
  border-radius: 5px;
  background-color: #ce9df8;
}
.allText ::-webkit-scrollbar-thumb {
  width: 15px;
  background-color: #e9fe53;
  border-radius: 5px;
}
.allText ul {
  height: 100%;
  overflow: auto;
  text-align: left;
}
.allText ul p {
  padding-right: 10px;
}

.joinTwitter {
  grid-area: 2/3/4/4;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #181816;
  font-size: 17px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.joinTwitter #goTwitter {
  width: -moz-fit-content;
  width: fit-content;
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.275s;
  outline: none;
  border: none;
  background-color: #fff;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}
.joinTwitter #goTwitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.joinEmail {
  grid-area: 2/1/4/3;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e9fe53;
  color: #000000;
}
.joinEmail #emailInput {
  width: 60%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
}/*# sourceMappingURL=styles.css.map */