main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 30px;
  background-color: #000000;
  color: #000000;
  border-radius: 20px;
  border: 2px solid #d3a6fa;
  gap: 20px;
  opacity: 0;
  visibility: hidden;
  animation: fadeIn 0.3s forwards;
}
main h1 {
  font-size: 1.3rem;
}
main .findCity {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .findCity #cityInp {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #d3a6fa;
  text-align: center;
  min-width: 200px;
  transition: all 0.255s;
}
main .findCity #cityInp:hover {
  background-color: #d3d3d3;
}
main .findCity #cityInp:focus {
  outline: none;
  border-color: #e9fe53;
}
main .findCity #getLocation {
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid #d3a6fa;
  text-align: center;
  min-width: 200px;
  transition: all 0.255s;
  background-color: #e9fe53;
}
main .findCity #getLocation:hover {
  background-color: #dbf051;
}
main .findCity #or {
  position: relative;
}
main .findCity #or:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #d3a6fa;
  top: 50%;
  left: 120%;
}
main .findCity #or::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #d3a6fa;
  top: 50%;
  right: 120%;
}
main .wraper {
  display: none;
  position: relative;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
main .wraper .back {
  margin-left: auto;
  grid-area: 1/2/2/3;
}
main .wraper .back #goBack {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  overflow: hidden;
}
main .wraper .welcome {
  grid-area: 1/1/2/2;
}
main .wraper .welcome #welcomeTitle {
  color: #fff;
  font-size: 25px;
}
main .wraper #temp {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  position: relative;
  height: -moz-min-content;
  height: min-content;
  background-color: #d3a6fa;
  color: #000000;
  transition: all 0.3s;
  text-wrap: nowrap;
}
main .wraper #temp:hover {
  background-color: #ce9df8;
}
main .wraper #temp #temperatureDiv .temperatureSpan {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}
main .wraper #temp #temperatureDiv .temperatureSpan .mainTemp {
  width: 100%;
  gap: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill {
  position: relative;
  width: 110px;
  aspect-ratio: 1;
  transform: translateY(4px);
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animacja 2s forwards;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18.5%, -19%) scale(0.67);
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill .outer {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill .outer .inner {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper #temp #temperatureDiv .temperatureSpan .skill .outer .inner #tempNumb {
  font-size: 20px;
}
main .wraper .minAndMax {
  display: flex;
  position: relative;
  height: -moz-min-content;
  height: min-content;
  text-wrap: nowrap;
  background-color: #181816;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.3s;
}
main .wraper .minAndMax:hover {
  background-color: #131311;
}
main .wraper .minAndMax .minMaxLeftRight {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
}
main .wraper .minAndMax .minMaxLeftRight .skill {
  position: relative;
  width: 110px;
  aspect-ratio: 1;
  transform: translateY(4px);
}
main .wraper .minAndMax .minMaxLeftRight .skill circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: animacja 2s forwards;
}
main .wraper .minAndMax .minMaxLeftRight .skill svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-18.5%, -19%) scale(0.67);
}
main .wraper .minAndMax .minMaxLeftRight .skill .outer {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
main .wraper .minAndMax .minMaxLeftRight .skill .outer .inner {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper .minAndMax .minMaxLeftRight .skill .outer .inner #tempNumb {
  font-size: 20px;
}
main .wraper .minAndMax .minMaxLeftRight .leftMinMax {
  width: 100%;
  gap: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .wraper .minAndMax .minMaxLeftRight .leftMinMax .minMaxSpan {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
main .wraper .compas {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  grid-area: 3/1/4/3;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 5px;
  background-color: #181816;
  color: #fff;
  transition: all 0.3s;
}
main .wraper .compas:hover {
  background-color: #131311;
}
main .wraper .compas .compasCircle {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  background: #fff;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 13px;
}
main .wraper .compas .compasCircle .arrow {
  position: absolute;
  width: 2px;
  height: 40%;
  background-color: black;
  transform-origin: bottom;
  top: 10%;
  left: 50%;
  animation: 2s compasDeg forwards;
}
main .wraper .forecast {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  grid-area: 1/3/4/4;
  background-color: #e9fe53;
  color: #000000;
  transition: all 0.3s;
}
main .wraper .forecast:hover {
  background-color: #dbf051;
}
main .wraper .forecast .weatherNow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
main .wraper .forecast .weatherNow #weatherImg {
  width: 100px;
}
main .wraper .forecast .futureWeather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 70%;
}

.between {
  display: flex;
  align-items: center;
}

.wraper.active {
  display: grid;
}

.findCity.active {
  display: flex;
}

#weatherImg {
  width: 64px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dbf051;
  border-radius: 10px;
  width: 114px;
  aspect-ratio: 1;
  display: grid;
  justify-self: center;
  align-self: center;
}

#weatherDesciptionOne,
#weatherDesciptionTwo,
#weatherDesciptionThree,
#weatherDesciptionFour {
  margin: 0 auto;
  padding-bottom: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

#temp:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 312px;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}

#temp:hover:before {
  opacity: 1;
  visibility: visible;
}

.minAndMax:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 312px;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}

.minAndMax:hover:before {
  opacity: 1;
  visibility: visible;
}

.compas:hover:before {
  opacity: 1;
  visibility: visible;
}

.compas:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 312px;
  background-color: #252523;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  transition: opacity 0.5s ease-in-out;
  font-size: 10px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 105%;
  text-wrap: wrap;
}/*# sourceMappingURL=styles.css.map */