$backgroundColor: #000000;
$backgroundColorHover: #d3d3d3;
$cardColor: #c5c5c5;
$cardHover: #131311;
$textColor: #000000;
$textColorTwo: #fff;
$colorOne: #d3a6fa;
$colorTwo: #e9fe53;
$colorThree: #181816;
$colorOneDarker: #ce9df8;
$colorTwoDarker: #dbf051;
$blackHover: #252523;

$borderRadiusMinimum: 5px;
$borderRadiusSmall: 10px;
$borderRadiusMedium: 20px;
$borderRadiusBig: 30px;

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}
@mixin buttonAndInput($colorBorder) {
  padding: 10px 15px;
  border-radius: $borderRadiusSmall;
  border: 2px solid $colorBorder;
  text-align: center;
  min-width: 200px;
  transition: all 0.255s;
}
@mixin cardStyle {
  padding: 20px;
  border-radius: $borderRadiusMedium;
  font-size: 20px;
}
@import "_main.scss";
@import "_body.scss";
@import "_hoveres.scss";
